.categories-con {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, transparent 49%, #abaab7 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, #abaab7 49% 51%, transparent 51%);
  background-size: 1em 1em;
  background-color: #ffffff;
  opacity: 1
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
